name: Build & Publish Release Archive

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create zip archive
        run: |
          zip -r opds_plus.koplugin.zip . \
            -x '.git/*' \
            -x '.github/*' \
            -x '*.zip'

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: opds_plus.koplugin
          path: opds_plus.koplugin.zip

  publish-release:
    needs: build-release
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: opds_plus.koplugin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: opds_plus.koplugin.zip
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
